
<div class="container">
<div class="row">
<div class="col-md-12" align="center">

  <h1>Tus listas</h1>




<br>
<% if user_signed_in? %>
    <%= link_to 'Mostrar mis listas', :action => :indexlists %>
    
    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
    <%= link_to "Editar perfil", edit_user_registration_path %>
<% else %>
    <%= link_to "Iniciar sesion", new_user_session_path %>
    <%= link_to "Crear cuenta", new_user_registration_path %>
<% end %>


</div>
</div>
</div>
