<!DOCTYPE html>
<html>
  <head>
    <title>ToDoApp</title>
    <%= csrf_meta_tags %>

    
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ToDo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <% if user_signed_in? %>
      <a class="nav-item nav-link"><%= link_to 'Inicio', todo_lists_path %></a>
      <a class="nav-item nav-link"><%= link_to "Editar perfil", edit_user_registration_path %></a>
      <a class="nav-item nav-link"> <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %></a>
      <% else %>
      <a class="nav-item nav-link"><%= link_to 'Inicio', todo_lists_path %></a>
      <a class="nav-item nav-link"><%= link_to "Iniciar sesion", new_user_session_path %></a>
      <a class="nav-item nav-link"><%= link_to "Registrate", new_user_registration_path %></a>
      <% end %>
    </div>
  </div>
</nav>
      
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
